# Build output
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.exe
*.dll
*.obj
*.o
*.lib
*.ilk
*.pdb
*.idb
*.exp
*.res
*.pch
*.bsc
*.sbr

# Visual Studio user/cache files
*.suo
*.user
*.aps
*.ncb
*.sdf
*.opensdf
*.cachefile
*.VC.db
*.VC.VC.opendb
.vs/

# Build logs and intermediate files
BuildLog.htm
mt.dep
*.manifest
*.manifest.res
*.log
*.tlog/
*.lastbuildstate

# Precompiled headers
*.gch
*.pch

# IntelliSense
ipch/
*.ipch

# ReSharper
_ReSharper*/
